@model UserViewModel

<p>
    @Html.DisplayForModel()
</p>
<p>
    <table>
        <thead>
            <tr>
                <th>
                    Тип номера
                </th>
                <th>
                    Номер
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var phoneWithType in Model.Phones)
            {
                <tr>
                    <td>
                        @phoneWithType.Type
                    </td>
                    <td>
                        @phoneWithType.PhoneNumber
                    </td>
                </tr>
            }
        </tbody>
    </table>
</p>